*{
    margin: 0;
    padding: 0;
}
div.wrap-top-menu{
    width: 100%;
    height: 33px;
    border-bottom: 2px solid black;
}
    ul.top-menu {
        list-style-type: none;
        padding-top: 8px;
    }
        .top-menu li{
            border-right: 1px solid black;
            padding: 0 10px;
            float: left;
            font-weight: bold;
        }
        .top-menu li:last-child{
            border: none;
        }
        .top-menu li a{
            color: #507DAB;
        }
        .top-menu li a:hover, .menu li:hover{
            color: rgb(38, 49, 104);
        }

div.navigation {
    position: fixed;
    top: 35px; left: 0; bottom: 0;
    width: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid black;
}
    ul.sidebar-menu{
        margin-top: 10px;
    }
        .sidebar-menu li {
            margin-left: 35px;
            cursor: pointer;
        }
        .inside-menu li {
            margin-left: 17px;
        }

        .sidebar-menu li.dir {
            list-style-image: url(../img/marker-dir.png);
        }
        .sidebar-menu li.open-dir {
            list-style-image: url(../img/marker-open-dir.png);
        }
        .sidebar-menu li.plus {
            list-style-image: url(../img/marker-plus.png);
        }
        .sidebar-menu li.minus {
            list-style-image: url(../img/marker-minus.png);
        }
        .sidebar-menu li.checked {
            list-style-image: url(../img/marker-checkbox-checked.png);
        }
        .sidebar-menu li.unchecked {
            list-style-image: url(../img/marker-checkbox.png);
        }
        .sidebar-menu li.play-r {
            list-style-image: url(../img/marker-play-right.png);
        }
        .sidebar-menu li.play-d {
            list-style-image: url(../img/marker-play-down.png);
        }
        .sidebar-menu li.sheet {
            list-style-image: url(../img/marker-sheet.png);
        }


div.container {
    bottom: 0;
    left: 300px;
    overflow: hidden;
    position: fixed;
    top: 35px;
    width: 100%;
}
    div.wrap-menu{
        height: 34px;
        border-bottom: 1px solid;
        width: 100%;
    }
        ul.menu {
            list-style-type: none;
            color: #507DAB;
            cursor: pointer;
            font-weight: bold;
        }
            .menu li {
                float: left;
                margin: 8px;
            }
            .menu li:after {
                content:'>';
                margin-left: 15px;
            }
            .menu li:last-child {
                content:'';
            }

    div.items{
        bottom: 0;
        left: 300px;
        overflow: auto;
        position: fixed;
        top: 70px;
        padding: 0 100px;
    }
    .item{
        float: left;
        padding: 10px 10px 0;
    }

    span.description {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 30px;
    }

    .item div {
        height: 250px;
        width: 250px;
        background: rgba(0, 0, 0, 0) url("../img/default-img-2.png") no-repeat scroll 0 0 / cover ;
    }

    .item:first-child div {
        background-image:url(../img/default-img-4.png);
    }

    .item:nth-child(2) div {
        background-image:url(../img/default-img-3.png);
    }

    .item:nth-child(4n-1) div {
        background-image:url(../img/default-img-5.png);
    }

    .item:nth-child(6) div {
        background-image:url(../img/default-img-6.png);
    }
